<!DOCTYPE html>
<div class="container-fluid w-75 mt-3" style="min-width: 410px">
  <h3 class="text-muted" id="heading">&nbsp;</h3>
  <small class="text-muted" id="date-heading">&nbsp;</small>
  <textarea class="form-control mt-2" readonly style="height: 70vh"></textarea>
</div>
<script>
  $(document).ready(function () {
    fetch(
      "/api/save/" +
        window.location.pathname.substring(
          window.location.pathname.lastIndexOf("/") + 1
        )
    )
      .then((resp) => resp.json())
      .then((resp) => {
        $("textarea").text(resp.value);
          $("#heading").text(resp.description || "Saved Content");
        const date = moment.utc(resp.dateCreated);
        const dateElement = document.getElementById("date-heading")
        dateElement.textContent = "Created " + date.fromNow();
        dateElement.setAttribute(
          "title",
          date.local().format("YYYY-MM-DD HH:mm:ss")
        );
      });
  });
</script>

