<!DOCTYPE html>
<div class="container-fluid w-75 mt-3" style="min-width: 410px">
  <h3 class="text-muted mb-2">Saved Contents</h3>
  <div class="border round" style="height: 70vh; overflow-y: auto">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Original Content</th>
          <th scope="col">Created</th>
          <th scope="col">Short URL</th>
          <th scope="col">Views</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="save-tbody"></tbody>
    </table>
  </div>
</div>
<script src="/saved.js"></script>

