<!DOCTYPE html>
<div class="container-fluid">
  <div class="form-group">
    <textarea
      class="form-control"
      id="textarea"
      style="height: 70vh"
    ></textarea>
  </div>
  <div
    class="alert alert-success"
    role="alert"
    id="alert"
    style="display: none; position: absolute; z-index: 1000"
  ></div>
  <div class="flex-container">
    <!-- invisible elements to center the buttons START -->
    <div class="btn-group flex-wrap btn-group-toggle mr-auto invisible">
      <label class="btn btn-outline-secondary">
        <input type="radio" name="options" /> 1
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="options" /> 2
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="options" /> 3
      </label>
    </div>
    <!-- invisible elements to center the buttons END -->
    <button
      type="button"
      onclick="copySyncPadContent()"
      id="copybutton"
      class="btn btn-success"
    >
      <i class="fa fa-clipboard"></i> Copy
    </button>
    <button
      type="button"
      class="btn btn-success"
      data-toggle="modal"
      data-target="#saveModalContainer"
    >
      <i class="fa fa-hdd-o"></i> Save
    </button>
    <button
      type="button"
      onclick="generateQR()"
      class="btn btn-info"
      data-toggle="modal"
      data-target="#qrCodeModalContainer"
    >
      <i class="fa fa-qrcode"></i> QR Code
    </button>
    <button
      type="button"
      onclick="clearSyncPadContent()"
      class="btn btn-danger"
    >
      <i class="fa fa-trash-o"></i> Clear
    </button>
    <div
      class="btn-group flex-wrap btn-group-toggle ml-auto"
      data-toggle="buttons"
    >
      <label class="btn btn-outline-secondary active" id="label1">
        <input type="radio" name="options" id="focus1" checked /> 1
      </label>
      <label class="btn btn-outline-secondary" id="label2">
        <input type="radio" name="options" id="focus2" /> 2
      </label>
      <label class="btn btn-outline-secondary" id="label3">
        <input type="radio" name="options" id="focus3" /> 3
      </label>
    </div>
  </div>
</div>
<div
  class="modal fade bd-example-modal-lg"
  id="qrCodeModalContainer"
  tabindex="-1"
  role="dialog"
  aria-labelledby="qrCodeModalContainerTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-lg"
    role="document"
    style="width: 534px"
  >
    <div class="modal-content">
      <div class="modal-body" id="qrcode-modal-body">
        <div>Loading</div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade bd-example-modal-lg"
  id="saveModalContainer"
  tabindex="-1"
  role="dialog"
  aria-labelledby="saveModalContainerTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-sm"
    role="document"
    style="width: 534px"
  >
    <div class="modal-content">
      <div class="modal-body">
        <form id="form-save">
          <div class="form-group">
            <label for="form-key">Custom path</label>
            <input
              type="text"
              class="form-control"
              id="form-key"
              autocomplete="off"
            />
            <small id="emailHelp" class="form-text text-muted">
              Leave blank for a random path.
            </small>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="form-isVisible"
              checked
            />
            <label class="form-check-label" for="form-isVisible">public</label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="form-isURL"
              checked
            />
            <label class="form-check-label" for="form-isURL">
              url redirect
            </label>
          </div>
          <div class="modal-footer" style="margin-top: 10px">
            <button id="form-save-button" type="submit" class="btn btn-primary">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="syncpad.js"></script>

