<div class="container-fluid">
    <div class="input-group">
        <div class="custom-file">
            <form method='post' action='upload' enctype="multipart/form-data">
                <input type="file" class="custom-file-input" id="fileinput" multiple>
                <label class="custom-file-label" for="fileinput">Choose file</label>
                <input type='submit'>
            </form>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-success"><i class="fa fa-fw fa-upload"></i> Upload</button>
        </div>
    </div>
    <ul class="list-group list-group-flush" id="filelist">
    </ul>
</div>

<script>
    $('#fileinput').on('change', function () {
        //get the file name
        let files = document.getElementById('fileinput').files;
        $(this).next('.custom-file-label').html(`${files.length} files selected`);
        for (const file of files) {
            $('#filelist').append(`<li class="list-group-item">${file.name}</li>`);
        }
    })
</script>