<!DOCTYPE html>
<html lang="en">

<head>
  <title>Web Sync</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- search v4 on https://fontawesome.com/v4/icons/ -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/css/fileinput.css" media="all"
    rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.1.0/dist/css/toggle-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.1.0/dist/css/toggle-bootstrap-dark.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.1.0/dist/css/toggle-bootstrap-print.min.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/styles.css">
</head>

<body class="bootstrap">
  <img class="img-fluid img-thumbnail" src="/images/qr_small.png" id="qrcodeimg">
  <nav class="navbar navbar-expand-sm navbar-themed" style="margin-bottom: 1vh">
    <a class="navbar-brand" href="/" id="qrcodetext" data-image=''>QRCode</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/" id="syncpad-nav">SyncPad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload">Files/Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/s">Saved</a>
        </li>
      </ul>
    </div>
    <button id="toggle-theme" type="button" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
      Theme
    </button>
  </nav>

  <!-- keep it above include(page) if using external js -->
  <script src="/index.js"></script>
  <%- include(page) %>
  <div
    class="alert alert-success"
    role="alert"
    id="alert"
    style="
      display: none;
      position: absolute;
      bottom: 0;
      left: 15px;
      z-index: 1000;
    "
  ></div>
</body>

</html>
