#qrcodeimg {
  cursor: none;
  display: none;
  position: absolute;
  z-index: 1000;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container > button {
  margin-left: 2px;
  margin-right: 2px;
}

.modal {
  overflow-y: auto !important;
}

#button-group {
  margin-left: auto;
}

/* .flex-container::before {
  content: "";
  margin-right: 102.172px; /* width of .btn-group-toggle
  margin-left: auto;
} */

#invisible {
  margin-right: auto;
  visibility: hidden;
}
